.or
  %span OR
- text = controller_name != "sessions" ?  "Sign up" : "Log in"
= link_to omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first) do
  .google.button
    .icon
      = image_tag "google.svg"
    %span="#{text} with Google"

