- if exercise.errors.any?
  .error_explanation
    %h3= "#{pluralize(exercise.errors.count, "error")} prohibited this exercise from being saved:"
    %ul
      - exercise.errors.full_messages.each do |message|
        %li= message
