%section
  #logo
    = image_tag "refactorlicious.png"
%section.about
  %p This website will help you learn the principles of refactoring. The provided examples are user generated. A lot of them are inspired by Refactoring - Ruby edition.
  %p We'll also use Ruby.
