.exercises-panel {
  height: calc(100vh - 4em);
}

.sidebar {
  width: 20%;
  min-width: 13em;
  height: 100%;
  float: left;
  background-color: $turquoise;
  display: inline-block;
  text-align: left;
  padding-left: .5em;
  padding-top: 1em;
}

.exercises-list {
  float: left;
  width: 80%;
  max-width: calc(100% - 13em);
  height: 100%;
  background-color: $grey;
  display: inline-block;

  ul {
    text-align: left;
  }

  ul li {
    padding: .5em;
    padding-left: 1em;

    &:nth-child(even) {
      background-color: $light-grey;
    }
  }
}

.sidebar-filter-item {
  text-align: left;
  margin-top: 1em;
}
