form {
  margin: 0em 10em 0 10em;
  position: relative;

  label, select, input {
    display: inline-block;
    float:left;
    margin-top: 10px;
    line-height: 15px;
  }

  label {
    margin-right: 10px;
    clear:both;
  }

  .code {
    clear:both;
    width: 100%;
    height: 50px;
  }

  .code_to_refactor {
    float: left;
  }

  .solution {
    float: right;
  }

  .code_to_refactor, .solution {
    width: 50%;
  }

  #code_editor, #solution_editor {
    margin-top: 35px;
    border: 5px solid $green;
    width: 99.2%;
    height: 30em;
    text-align: left;
  }

  #exercise_code_to_refactor, #exercise_solution {
    display: none;
  }
}




