form {
  margin: 0em 8em 0 8em;
  position: relative;

  label, select, input {
    display: inline-block;
    float:left;
    margin-top: 1.5em;
    font-size: 1em;
  }

  label {
    margin-right: 10px;
    clear:both;
  }

  .code {
    clear:both;
    width: 100%;
    height: 31em;
    background-color: $red;
  }

  .code_to_refactor {
    float: left;
    border-right: solid $light-grey .1em;
  }

  .solution {
    float: right;
    border-left: solid $light-grey .1em;
  }

  .code_to_refactor, .solution {
    width: 50%;
    color: $white;
    border-top: solid $light-grey 1.5em;

    label {
      margin-top: 1em;
      padding-left: 1em;
      padding-bottom: 1em;
      text-transform: uppercase;
    }
  }

  #code_editor, #solution_editor {
    margin-top: 35px;
    width: 100%;
    height: 30em;
    text-align: left;
  }

  #exercise_code_to_refactor, #exercise_solution {
    display: none;
  }

  .submit {
    margin-top: 1em;
  }

  #exercise_key_words {
    width: calc(100% - 159px);
  }
}

.form-title {
  margin:3.5em 0 2em 0;
}




