.instructions, .editor {
  display: inline-block;
  float: left;
  text-align: left;
}

.instructions {
  height: 100%;
  min-height: calc(100vh - 4em);
  width: 33%;
  background-color: $turquoise;

  .tabs {
    position: relative;
    top: 3.8em;
  }

  .navigation {
    background-color: $light-grey;
    height: 3.8em;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 67%;

    .active {
      background-color: $turquoise;

      a {
        color: $white;
      }
    }

    ul li {
      float: left;
      width: 50%;
      height: 3.8em;
      line-height: 3.8em;

      a {
        color: $black;
        display: block;
        height: 100%;
      }
    }
  }

  .introduction, .code-challenge {
    padding: 2em;
    padding-top: 1em;
    background-color: $turquoise;

  }

  .code-challenge {
    display: none;
  }
}

.editor {
  width: 67%;
  position: fixed;
  left: calc(33%);

  .success, .fail {
    position: absolute;
    top:0;
    height: 4.6em;
    width: 100%;
    border: 0.2em solid $white;
    padding-left: 1.5em;
    padding-top:1em;
    color: $white;
  }

  .success {
    background-color: $turquoise;

    .next, p {
      display: inline-block;
    }

    .next {
      margin-left: 3em;
      a {
        background-color: $red;
        padding: .65em 1em;
        color: $white;
      }
    }

    p {
      font-size: 1.5em;
    }
  }

  .fail {
    background-color: $red;
    padding-top: 1.3em;
  }

  .close {
    cursor: default;
    position:absolute;
    right: 1em;
    top: 1em;
    color: $white;
    line-height: 0em;
  }



  .welcome {
    font-size: 1.5em;
    height: 2.6em;
    color: $white;
    line-height: 2.5em;
    background-color: $red;
    text-align: center;
    position: fixed;
    left: 33%;
    right: 0;
  }

  #wrapper {
    position: relative;
    height: calc(100vh - 13.2em);
    top: 4.04em;
  }


  footer {
    z-index: 10;
    background-color: $white;
    width: 67%;
    height: calc(100vh - 6.8em);
    position: fixed;
    top: calc(100vh - 4.6em);
    @include transition(top .5s ease);

    .hint, .submit {
      display: inline-block;
      margin: 1em;
      padding: .65em 1em;
      color: $white;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .hint {
      position: relative;
      background-color: $red;
      margin-left: 1.5em;
    }

    .submit {
      background-color: $green;
      position: absolute;
      right: 0.5em;
      a {
        color: $white;
      }
    }

    .solution {
      margin: 2em 3em 0 3.5em;
    }

    &.is-extended {
      height: 100%;
      top: 7.8em;

      .hint:after {
        content: "x";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2em;
        line-height: 1em;
        width: 100%;
        text-align: center;
        background-color: $red;
      }
    }
  }
}
