* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, ul, h1, p, a, textarea, figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
}
