* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, ul, h1, p, a, textarea, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: $black;
}

.exercise.easy {
  border-color: $easy;

  a:hover {
    color: $easy;
  }

  .points {
    background-color: $easy;
  }
}

.exercise.medium {
  border-color: $medium;

  a:hover {
    color: $medium;
  }

  .points {
    background-color: $medium;
  }
}

.exercise.difficult {
  border-color: $difficult;

  a:hover {
    color: $difficult;
  }

  .points {
    background-color: $difficult;
  }
}

.content {
  margin-top: 4em;
  text-align: center;
  height: calc(100% - 4em);
  min-height: calc(100vh - 4em);
  background-color: $light-grey;
  overflow: auto;
}

section {
  width: 35em;
  margin: auto;
  text-align: justify;
}

section.about {
  p {
    margin: 1em 0;
  }
}

#logo {
  margin-top: 12%;
  margin-bottom: 8%;

  img {
    width: 100%;
    display: block;
    margin: auto;
  }
}

header {
  z-index: 20;
  position: fixed;
  width: 100%;
  opacity: .98;
  background-color: $white;
  top: 0;
  height: 4em;
  line-height: 4em;

  .menu {
    position: absolute;
    top: 0;
    right: .2em;

    .menu-item {
      display: inline-block;
      margin-right: 1em;

      &:not(:last-child):after {
        content: "";
        position: relative;
        top: .1em;
        right: -0.5em;
        border-right: 1px solid;
      }
    }
  }

  .logo {
    margin-top: 0.3em;
    margin-left: 1.2em;
    line-height: 1em;

    img {
      height: 3em;
    }
  }
}

button {
  padding: .65em 1em;
  color: $white;
  border:none;
  font-size: 1em;

   &:hover {
        cursor: pointer;
        opacity: .8;
      }
}

.submit {
  background-color: $green;
  a {
        color: $white;
    }
    margin-bottom: 1.5em;
}

.error_explanation {
  color:red;
  margin-bottom: 1em;
}
