$white: #FFFFFF;
$black: #262626;
$light-black: #7C7C7C;
$turquoise: #79DBB8;
$orange: #FF9366;
$light-grey: #EEFCEF;
$grey: #E1F0E2;
$dark-grey: darken($grey, 40);
$red: #DB8C79;
$green: #7BDCA8;
$yellow: #E5EF56;
$easy: $green;
$medium: $yellow;
$difficult: $red;
$break-large: 1050px;
