.exercises
  - @exercise_categories.each do |exercise_category|
    %h3.exercise-category= "#{exercise_category.name}"
    %ul
      - exercise_category.exercises.each_with_index do |exercise, i|
        %li.exercise{class: difficulty_level(exercise)}= link_to "Exercise #{i + 1}", exercise_path(exercise)
